asn1crypto==0.24.0
beautifulsoup4==4.6.3
boto==2.49.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
cryptography-vectors==2.3.1
idna==2.7
lxml==4.6.3
MechanicalSoup==0.10.0
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
requests==2.19.1
six==1.11.0
urllib3==1.23
win-inet-pton==1.0.1
wincertstore==0.2
